.dashboard-container {
  display: flex;
}

.sidebar {
  background-color: #1d1f2a;
  color: #fff;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.menu li {
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.menu li i {
  font-size: 24px;
  margin-right: 10px;
}

.menu li:hover {
  background-color: #363952;
}

.menu li.active {
  background-color: #444;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .main-content {
    flex: 1;
    padding: 20px;
  }
}
